{% extends "aubouleau_web/base.html" %}
{% load static %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/apexcharts" defer></script>
    <script src="{% static 'aubouleau_web/js/dashboard.js' %}" defer></script>
{% endblock %}
{% block title %}Aubouleau | Dashboard{% endblock %}

{% block breadcrumb %}
<nav class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
        <li class="inline-flex items-center">
            <a href="{% url 'aubouleau_web:index' %}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-green-600 dark:text-gray-400 dark:hover:text-white">
                <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"></path>
                </svg>
                Dashboard
            </a>
        </li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="flex flex-col flex-grow items-center justify-center p-4 gap-y-6" id="content">
    {# First row #}
    <div class="flex flex-row flex-grow justify-between w-full gap-x-10">
        <div class="flex flex-col flex-grow max-w-sm px-2 py-6 xl:p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-xl xl:text-2xl font-bold text-center tracking-tight text-gray-900 dark:text-white">Free rooms</h5>
            <p class="text-4xl xl:text-5xl font-bold text-center text-gray-700 dark:text-gray-400">{{ available_rooms }}</p>
        </div>
        <div class="flex flex-col flex-grow max-w-sm px-2 py-6 xl:p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-xl xl:text-2xl font-bold text-center tracking-tight text-gray-900 dark:text-white">Occupied rooms</h5>
            <p class="text-4xl xl:text-5xl font-bold text-center text-gray-700 dark:text-gray-400">{{ unavailable_rooms }}</p>
        </div>
        <a href="{% url 'aubouleau_web:problems' %}" class="flex flex-col flex-grow max-w-sm px-2 py-6 xl:p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-xl xl:text-2xl font-bold text-center tracking-tight text-gray-900 dark:text-white">Problems</h5>
            <p class="text-4xl xl:text-5xl font-bold text-center text-gray-700 dark:text-gray-400">{{ problems|length }}</p>
        </a>
        <a href="#" class="flex flex-col flex-grow max-w-sm px-2 py-6 xl:p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-xl xl:text-2xl font-bold text-center tracking-tight text-gray-900 dark:text-white">Global score</h5>
            <p class="text-4xl xl:text-5xl font-bold text-center text-gray-700 dark:text-gray-400">99%</p>
        </a>
    </div>
    {# Second row #}
    <div class="flex flex-row flex-grow justify-between w-full gap-x-10">
        {# Chart #}
        <div class="w-[50%] border border-gray-300 bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
            <div class="flex justify-between">
                <div>
                    <h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">Global score</h5>
                    <p class="text-base font-normal text-gray-500 dark:text-gray-400">Evolution this week</p>
                </div>
                <div class="flex items-center px-2.5 py-0.5 text-base font-semibold text-blue-700 dark:text-blue-700 text-center">
                    6%
                    <svg class="w-3 h-3 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 10 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13V1m0 0L1 5m4-4 4 4"></path>
                    </svg>
                </div>
            </div>
            <div id="area-chart"></div>
            <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
                <div class="flex justify-between items-center pt-5">
                    {# Button #}
                    <button id="dropdownDefaultButton" data-dropdown-toggle="lastDaysdropdown" data-dropdown-placement="bottom" class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white" type="button">
                        Last 7 days
                        <svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                             fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"></path>
                        </svg>
                    </button>
                    {# Dropdown menu #}
                    <div id="lastDaysdropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                            aria-labelledby="dropdownDefaultButton">
                            <li><a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Yesterday</a></li>
                            <li><a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Today</a></li>
                            <li><a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 7 days</a></li>
                            <li><a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 30 days</a></li>
                            <li><a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 90 days</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {# Newest problems #}
        <div class="flex flex-col flex-grow border border-gray-300 rounded-lg shadow px-4 py-3 max-w-[50%]">
            <div class="flex flex-col flex-grow gap-y-6">
                <h4 class="text-2xl underline font-bold text-gray-900">Newest problems</h4>
                {% if problems %}
                <div class="flex flex-col gap-y-2.5">
                    {# Only display the 3 newest problems #}
                    {% for problem in problems|slice:":3" %}
                    {% load custom_filters %}
                    <a href="{% url 'aubouleau_web:problem_detail' problem_id=problem.id %}" class="flex flex-col gap-y-2 px-6 py-2.5 bg-white border border-gray-200 rounded-lg shadow max-w-3xl hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <div class="flex flex-row items-center">
                            <h5 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white truncate">{{ problem.title }}</h5>
                            {% if problem.room %}
                            <div class="min-w-[25%] flex flex-row flex-grow justify-end gap-x-1">
                                <p class="text-sm underline font-semibold text-gray-600">{{ problem.room.number }}</p>
                                <p class="text-sm text-gray-500">|</p>
                                <p class="text-sm text-gray-400">{{ problem|time_elapsed_since_creation}} ago</p>
                            </div>
                            {% else %}
                            <p class="flex flex-row flex-grow justify-end text-sm text-gray-400">{{ problem|time_elapsed_since_creation}} ago</p>
                            {% endif %}
                        </div>
                        <p class="text-sm font-normal text-gray-600 dark:text-gray-400 truncate">{{ problem.description }}</p>
                    </a>
                    {% endfor %}
                </div>
                {% else %}
                <div class="flex flex-col items-center justify-center h-full">
                    <p class="text-gray-500 text-center">Good news, no problems to show !</p>
                </div>
                {% endif %}
            </div>
            <a href="{% url 'aubouleau_web:problems' %}" class="flex flex-row justify-end items-center text-green-500 hover:text-green-700">
                <p class="text-sm uppercase font-semibold">View more</p>
                <svg class="w-6 h-6 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 16 4-4-4-4"></path>
                </svg>
            </a>
        </div>
    </div>
    {# Third row #}
    <div class="flex flex-row flex-grow justify-between w-full gap-x-10">
        {# Rooms soon available #}
        <div class="flex flex-col flex-grow gap-y-4 border border-gray-300 rounded-lg shadow px-4 py-3 max-w-[50%]">
            <div class="flex flex-col flex-grow gap-y-6">
                <h4 class="text-2xl underline font-bold text-gray-900">Rooms soon available</h4>
                <div class="flex flex-col gap-y-2.5">
                {% if rooms_soon_available %}
                    {% for room in rooms_soon_available %}
                    {# room is of type tuple[Room, TimeSlot, int, str] #}
                    <a href="{% url 'aubouleau_web:room-detail' building_name=room.0.floor.building.name room_number=room.0.number %}" class="flex flex-col max-w-3xl gap-y-2 px-6 py-2.5 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <div class="flex flex-row justify-between items-center">
                            <h5 class="text-xl font-bold underline tracking-tight text-gray-900 dark:text-white">{{ room.0.number }}</h5>
                            <p class="text-sm text-gray-400">{{ room.3 }}</p>
                        </div>
                        <div class="flex flex-row justify-between items-center">
                            <p class="text-sm font-normal text-gray-600 dark:text-gray-400 truncate">{{ room.1.subject }}</p>
                            <div class="flex flex-row justify-end items-center gap-x-1 text-sm font-bold text-green-500 min-w-[25%]">
                                <svg class="w-[20px] h-[20px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                                </svg>
                                <p>Available in {{ room.2 }} min{{ room.2|pluralize }}</p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                {% else %}
                    <p class="text-center text-gray-400">No rooms to show</p>
                {% endif %}
                </div>
            </div>
            <a class="flex flex-row justify-end items-center text-green-500 hover:text-green-700" href="#">
                <p class="text-sm uppercase font-semibold">View more</p>
                <svg class="w-6 h-6 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 16 4-4-4-4"></path>
                </svg>
            </a>
        </div>
        {# Rooms soon unavailable #}
        <div class="flex flex-col flex-grow gap-y-4 border border-gray-300 rounded-lg shadow px-4 py-3 max-w-[50%]">
            <div class="flex flex-col flex-grow gap-y-6">
                <h4 class="text-2xl underline font-bold text-gray-900">Rooms soon unavailable</h4>
                <div class="flex flex-col gap-y-2.5">
                {% if rooms_soon_unavailable %}
                    {% for room in rooms_soon_unavailable %}
                    {# room is of type tuple[Room, TimeSlot, int, str] #}
                    <a href="{% url 'aubouleau_web:room-detail' building_name=room.0.floor.building.name room_number=room.0.number %}" class="flex flex-col max-w-3xl gap-y-2 px-6 py-2.5 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <div class="flex flex-row justify-between items-center">
                            <h5 class="text-xl font-bold underline tracking-tight text-gray-900 dark:text-white">{{ room.0.number }}</h5>
                            <p class="text-sm text-gray-400">{{ room.3 }}</p>
                        </div>
                        <div class="flex flex-row justify-between items-center">
                            <p class="text-sm font-normal text-gray-600 dark:text-gray-400 truncate"><span class="text-gray-600 font-bold">Next:</span> {{ room.1.subject }}</p>
                            <div class="flex flex-row justify-end items-center gap-x-1 text-sm font-bold text-yellow-400 min-w-[25%]">
                                <svg class="w-[20px] h-[20px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                                </svg>
                                <p>{{ room.2 }} min{{ room.2|pluralize }} left</p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                {% else %}
                    <p class="text-center text-gray-400">No rooms to show</p>
                {% endif %}
                </div>
            </div>
            <a class="flex flex-row justify-end items-center text-green-500 hover:text-green-700" href="#">
                <p class="text-sm uppercase font-semibold">View more</p>
                <svg class="w-6 h-6 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 16 4-4-4-4"></path>
                </svg>
            </a>
        </div>
    </div>
</div>
{% endblock %}
